# deploy.sh で使用する変数

# Cloud Run Functions
FUNCTION_NAME=obsidian-sync
SERVICE_ACCOUNT=your-sa@your-project.iam.gserviceaccount.com
SECRETS_MANAGER=projects/your-project-number/secrets/obsidian-sync/versions/latest

# Cloud Run Functions 環境変数
GCP_PROJECT=your-gcp-project-id
